<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1a01d677-4c1a-4a04-bc73-350344085012/resourceGroups/SoftplanCalcTest20190501083539ResourceGroup/providers/Microsoft.ContainerRegistry/registries/guiContainerRegistry</ResourceId>
    <ResourceName>guiContainerRegistry</ResourceName>
    <ResourceGroup>SoftplanCalcTest20190501083539ResourceGroup</ResourceGroup>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <RegistryUrl>https://guicontainerregistry.azurecr.io</RegistryUrl>
    <UserName>guiContainerRegistry</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>25005ee0-709d-4f19-8b2b-4879917e8797</ProjectGuid>
  </PropertyGroup>
</Project>